Repository Embers-of-the-Fire/EVE-MultiTools: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --fix, biome format --write, rustfmt --edition 2024 --style-edition 2024

add: use tanstack to fix market getter cache
  src/components/card/MarketTypeCard.tsx
  src/components/pages/market/MarketListPage.tsx
  src/hooks/useMarketCache.ts
  src/stores/marketCacheStore.ts
Due: none

rm: remove cargo fmt in pre-commit hook
  .husky/pre-commit
Due: none

fix: change alert-dialog theme
  src/components/ui/alert-dialog.tsx
Due: none

add: enhance sidebar
  src/app/providers.tsx
  src/components/pages/CharacterPages.tsx
  src/components/pages/DatabasePage.tsx
  src/components/pages/HomePage.tsx
  src/components/pages/IndustryPages.tsx
  src/components/pages/MarketPages.tsx
  src/components/pages/SettingsPage.tsx
  src/components/sidebar/app-sidebar.tsx
  src/config/routes.ts
  src/locale/en.json
  src/locale/i18n.ts
  src/locale/zh.json
  src/types/router.ts
Due: biome format --write

fix: fix bundle name error
  src/components/sidebar/bundle-switcher.tsx
Due: none

fix: change external link api
  src/components/Described.tsx
  src/components/ExternalLink.tsx
  src/components/card/MarketTypeCard.tsx
Due: none

add: add css format
  .lintstagedrc
Due: none

add: add about page
  package.json
  pnpm-lock.yaml
  src/components/layout/PageLayout.tsx
  src/components/pages/AboutPage.tsx
  src/components/pages/HomePage.tsx
  src/components/sidebar/app-sidebar.tsx
  src/config/routes.ts
  src/locale/en.json
  src/locale/zh.json
  src/styles/globals.css
  src/styles/kbd.css
Due: biome format --write

fix: add write flag to biome check
  .lintstagedrc
Due: none

fix: update license
  LICENSE
  LICENSE-APACHE
  LICENSE-MIT
  README.md
Due: none

add: add quick start page
  src/components/Links.tsx
  src/components/card/MarketTypeCard.tsx
  src/components/pages/AboutPage.tsx
  src/components/pages/GetStartedPage.tsx
  src/components/sidebar/app-sidebar.tsx
  src/config/routes.ts
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

fix: fix en loc for data bundles
  src/locale/en.json
Due: biome format --write

feat: add zh-cn builds to tauri build
  src-tauri/tauri.conf.json
Due: biome format --write

chore: changes lint and formatter config
  .lintstagedrc
  biome.jsonc
Due: none

add: add region loader
  .gitmodules
  data/bundle_impl.py
  data/schema.proto
  data/schema_pb2.py
  pyproject.toml
  src/data/schema.ts
  uv.lock
Due: none

feat: replace bundle_impl with split impl
  .python-version
  data/.gitignore
  data/bundle.py
  data/bundle_generate/__init__.py
  data/bundle_generate/async_config.py
  data/bundle_generate/consts.py
  data/bundle_generate/image/__init__.py
  data/bundle_generate/image/faction_icons.py
  data/bundle_generate/image/graphics.py
  data/bundle_generate/image/icons.py
  data/bundle_generate/image/skin_material_icons.py
  data/bundle_generate/image/utils.py
  data/bundle_generate/localization/__init__.py
  data/bundle_generate/log.py
  data/bundle_generate/paths.py
  data/bundle_generate/resources.py
  data/bundle_generate/schema_resource.py
  data/bundle_generate/static/__init__.py
  data/bundle_generate/static/categories.py
  data/bundle_generate/static/factions.py
  data/bundle_generate/static/groups.py
  data/bundle_generate/static/market_groups.py
  data/bundle_generate/static/meta_groups.py
  data/bundle_generate/static/skin_infos.py
  data/bundle_generate/static/type_definitions.py
  data/bundle_generate/static/type_dogma.py
  data/bundle_generate/static/type_materials.py
  data/bundle_generate/types.py
  data/bundle_generate/universe/__init__.py
  data/bundle_generate/universe/_type.py
  data/bundle_generate/universe/regions.py
  data/bundle_impl.py
  data/mock.py
  pyproject.toml
  ruff.toml
  uv.lock
Due: none

feat: remove deprecated mod.rs
  src-tauri/src/bundle.rs
  src-tauri/src/config.rs
  src-tauri/src/data.rs
  src-tauri/src/data/image.rs
  src-tauri/src/data/mod.rs
  src-tauri/src/data/proto/schema.rs
  src-tauri/src/data/statics.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/database.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/path.rs
  src-tauri/src/utils/request.rs
Due: rustfmt --edition 2024 --style-edition 2024

feat: generic history button impl
  src/components/common/DetailPageActions.tsx
  src/components/common/HistoryButton.tsx
  src/components/pages/explore/FactionDetailPage.tsx
  src/components/pages/explore/FactionExplorePage.tsx
  src/components/pages/explore/TypeDetailPage.tsx
  src/components/pages/explore/TypeExplorePage.tsx
Due: none

add: add shadcn deps for mcp use
  package.json
  pnpm-lock.yaml
Due: biome format --write

feat: remove padding in type cards
  src/components/card/GenericCard.tsx
  src/components/card/MarketTypeCard.tsx
Due: none

add: add localization for bundle import
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

feat: use dropdown menu for history list
  src/components/common/HistoryButton.tsx
Due: none

fix: fix scroll area impl in HistoryButton
  src/components/common/HistoryButton.tsx
Due: none

add: add code-graph generator
  .tokeignore
  README.md
  code-graph.py
  tokei-chart.png
Due: none

fix: fix tokeignore
  .tokeignore
  tokei-chart.png
Due: none

add: add system info for constellation detail
  src/components/pages/explore/universe-object-detail/ConstellationDetail.tsx
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

rm: remove "desc" label in detail page
  src/components/pages/explore/TypeDetailPage.tsx
  src/components/pages/explore/universe-object-detail/RegionDetail.tsx
  src/components/pages/explore/universe-object-detail/SystemDetail.tsx
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

add: add constellation info for regions
  src/components/pages/explore/universe-object-detail/RegionDetail.tsx
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

fix: change constellation system info title
  src/components/pages/explore/universe-object-detail/ConstellationDetail.tsx
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

add: add prompt tool
  .github/prompts/focus.prompt.md
Due: none

feat: use param-ed route
  README.md
  docs/README.md
  docs/create-new-page.md
  src/components/NavigationControls.tsx
  src/components/SPALayout.tsx
  src/components/SPARouter.tsx
  src/components/breadcrumb.tsx
  src/components/card/MarketTypeCard.tsx
  src/components/pages/ExplorePage.tsx
  src/components/pages/HomePage.tsx
  src/components/pages/explore/FactionDetailPage.tsx
  src/components/pages/explore/FactionDetailPageWrapper.tsx
  src/components/pages/explore/FactionExplorePage.tsx
  src/components/pages/explore/TypeDetailPage.tsx
  src/components/pages/explore/TypeDetailPageWrapper.tsx
  src/components/pages/explore/TypeExplorePage.tsx
  src/components/pages/explore/UniverseExplorePage.tsx
  src/components/pages/explore/UniverseObjectDetailPageWrapper.tsx
  src/components/pages/explore/universe-object-detail/ConstellationDetail.tsx
  src/components/pages/explore/universe-object-detail/RegionDetail.tsx
  src/components/pages/explore/universe-object-detail/SystemDetail.tsx
  src/components/pages/explore/universe-object-detail/_Actions.tsx
  src/components/sidebar/nav-main.tsx
  src/config/routes.ts
  src/hooks/useSPARouter.ts
  src/locale/en.json
  src/locale/zh.json
  src/stores/spaRouterStore.ts
  src/types/router.ts
Due: biome format --write

add: update readme
  README.md
  tokei-chart.png
Due: none

fix: fix router initialization
  src/components/SPARouter.tsx
  src/components/breadcrumb.tsx
  src/config/routes.ts
  src/lib/router.ts
  src/stores/spaRouterStore.ts
Due: none

feat: add `Attribute` component for data display
  src/components/common/AttributePanel.tsx
  src/components/pages/explore/FactionDetailPage.tsx
  src/components/pages/explore/TypeDetailPage.tsx
  src/components/pages/explore/universe-object-detail/ConstellationDetail.tsx
  src/components/pages/explore/universe-object-detail/RegionDetail.tsx
  src/components/pages/explore/universe-object-detail/SystemDetail.tsx
Due: none

add: add system details
  data/bundle_generate/universe/system_contents.py
  data/schema.proto
  data/schema_pb2.py
  src/components/pages/explore/universe-object-detail/SystemDetail.tsx
  src/data/schema.ts
  src/locale/en.json
  src/locale/zh.json
Due: biome format --write

fix: fix localization error key
  src-tauri/src/bundle.rs
Due: rustfmt --edition 2024 --style-edition 2024

add: add planet detail page
  data/bundle_generate/universe/system_contents.py
  src-tauri/src/data/universe/system_content/planets.rs
  src/components/card/UniverseObjectCard.tsx
  src/components/pages/explore/UniverseExplorePage.tsx
  src/components/pages/explore/UniverseObjectDetailPageWrapper.tsx
  src/components/pages/explore/universe-object-detail/PlanetDetail.tsx
  src/components/pages/explore/universe-object-detail/SystemDetail.tsx
  src/components/pages/explore/universe-object-detail/_CelestialAttributes.tsx
  src/constant/unit.ts
  src/locale/en.json
  src/locale/zh.json
  src/native/data.ts
  src/stores/localizationStore.ts
  src/stores/universeExploreStore.ts
  src/types/data.ts
  src/utils/name.ts
  src/utils/number.ts
  src/utils/unit.ts
Due: biome format --write, rustfmt --edition 2024 --style-edition 2024

Path conditions:
  biome check --fix: any of: *.ts|*.tsx
  biome format --write: (any of: *.ts|*.tsx) or (any of: *.json)
  rustfmt --edition 2024 --style-edition 2024: any of: *.rs
